@import url('assets/base.css');

/* Colors */
:root {
  --primary-color: #663399;
  --secondary-color: #4f5277;
  --third-color: #e6e6fa;
  --fourth-color: #f9f871;
  --fifth-color: #a47864;

  --base-01-color: #f6f2f0;
  --base-02-color: #e4d7d1;
  --base-03-color: #d2bcb2;
  --base-04-color: #bfa193;
  --base-05-color: #836050;
  --base-06-color: #62483c;
  --base-07-color: #423028;
  --base-08-color: #211814;

  --black: #000;
  --white: #fff;

  --text-color: var(--black)
  --background-color: var(--base-08-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--base-08-color);
    background-color: var(--base-01-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--base-01-color);
    color: var(--base-08-color)
  }
}

[theme="custom-light"] {
  :root {
    color: var(--base-08-color);
    background-color: var(--base-01-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--base-01-color);
    color: var(--base-08-color)
  }

}

[theme="custom-dark"] {
 
    color: var(--base-01-color);
    background-color: var(--base-08-color);
 
}